:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  background-color: #f0f0f0;
}

.app-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  min-width: 0;
  overflow-x: hidden;

  background-color: #fff;

  router-outlet {
    display: contents;
  }
}
