:host {
  display: block;
  width: 100%;
  min-height: 100vh;

  background-color: #f0f0f0;
}

.app-body {
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  background-color: #fff;
}
